p

{
   color:rgba(248, 208, 97, 0.445);
    font-size: xx-large;
    font-weight: 900; 
}

body
{
    
    background-color:rgb(23, 85, 34) ;
    font-family: Oswold
;
}
img

{

width:300px;
border:10px\
border-colour:brown
border-style;dashed;

}


